<!DOCTYPE html>
<html>
<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <h1>What's your secret?</h1>

  <!-- Card becomes clickable -->
  <div class="card" id="card">
    <p id="secret"><%= secret %></p>
  </div>
  <p id="user" class="user"><%= user %></p>

  <script>
    document.getElementById("card").addEventListener("click", async (event) => {
      // Only respond to left-click
      if (event.button === 0) {
        try {
          const res = await fetch("/random");
          const data = await res.json();
          document.getElementById("secret").innerText = data.secret;
          document.getElementById("user").innerText = data.user;
        } catch (err) {
          document.getElementById("secret").innerText = "Error fetching new secret.";
          document.getElementById("user").innerText = "Anonymous";
        }
      }
    });
  </script>
</body>
</html>
